# =============================================================================
# Tuya Configuration
# =============================================================================
TUYA_CLIENT_ID=
TUYA_ACCESS_SECRET=
TUYA_BASE_URL=
TUYA_USER_ID=

# =============================================================================
# API Key Configuration
# =============================================================================
API_KEY=

# =============================================================================
# Log Configuration
# =============================================================================
LOG_LEVEL=

# =============================================================================
# GitHub Configuration
# =============================================================================
GITHUB_TOKEN=

# =============================================================================
# Swagger Configuration
# =============================================================================
SWAGGER_BASE_URL=

# =============================================================================
# Responses Configuration
# =============================================================================
GET_ALL_DEVICES_RESPONSE= # 0=Grouped, 1=Flat, 2=Merged
CACHE_TTL=

# =============================================================================
# Database Configuration
# =============================================================================
DB_HOST=
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=teralux
DB_SSLMODE=
DB_CONTAINER_NAME=