services:
  teralux-mysql:
    image: mysql:8
    container_name: teralux-mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  teralux-backend:
    image: ghcr.io/pt-perkasa-pilar-utama/teralux-backend:dev
    container_name: teralux-backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - DB_HOST=teralux-mysql
    depends_on:
      teralux-mysql:
        condition: service_healthy
    restart: unless-stopped

volumes:
  mysql_data:
